header
  background: white
  display: flex
  justify-content: space-between
  padding: 20px

label
  font-size: 1.5rem
  color: #130b2c
.total
  font-weight: bold

@media screen and ( max-width: 480px )
  header
    flex-direction: column

  label
    margin-bottom: 15px