<form action=""
  [formGroup]="checkoutForm"
  (ngSubmit)="onSubmit()">

  <div class="wrap-input">
    <label for="amount">Amount</label>
    <input
      [ngClass]="{'error': amount.invalid && (amount.touched || isSubmitted) }"
      id="amount"
      type="number"
      min="1"
      formControlName="amount"/>
    <div *ngIf="amount.invalid && (amount.touched || isSubmitted)">
      <div class="error-message" *ngIf="amount.errors.required">
        Amount is required.
      </div>
      <div class="error-message" *ngIf="amount.errors.nonZero">
        Amount can not be negative or cero.
      </div>
      <div class="error-message" *ngIf="amount.errors.pattern">
        Amount must be with 2 decimals.
      </div>
    </div>
  </div>

  <div class="wrap-input">
    <label for="date">Date</label>
    <input
      [ngClass]="{'error': date.invalid && (date.touched || isSubmitted) }"
      id="date"
      type="date"
      formControlName="date"/>
    <div *ngIf="date.invalid && (date.touched || isSubmitted)">
      <div class="error-message" *ngIf="date.errors.required">
        Date is required.
      </div>
      <div class="error-message" *ngIf="date.errors.isValidDate">
        Date must not be later than 7 days ago.
      </div>
    </div>
  </div>

  <div class="wrap-input">
    <label for="description">Description</label>
    <textarea
      [ngClass]="{'error': formControls.description.invalid && (formControls.description.touched || isSubmitted) }"
      id="description"
      type="description"
      formControlName="description">
    </textarea>
    <div class="error-message" *ngIf="formControls.description.touched && formControls.description.hasError('maxlength')">
      Maximum of 255 characters
    </div>
  </div>

  <button type="submit">
    <span *ngIf="!editFlag">Add</span>
    <span *ngIf="editFlag">Edit</span>
  </button>

</form>