form
  display: grid
  grid-gap: 30px
  margin: 0 auto
  padding: 20px
  border-radius: 5px

.wrap-input
  display: grid
  grid-gap: 5px

input, textarea
  padding: 10px
  border: 1px solid #130b2c
  border-radius: 5px
  width: 200px
  box-sizing: border-box
  &.error
    border: 2px solid #e63946

button
  width: 200px
  padding: 15px
  background: #130b2c
  border: 1px solid #130b2c
  color: white
  border-radius: 5px
  cursor: pointer

.error-message
  color: #e63946
  font-weight: bold

@media screen and ( max-width: 900px )
  input, textarea, button
    width: 100%
