.payment
  background: #e8edf4
  padding: 20px
  border-radius: 5px
  width: 527px
  max-width: 100%
  box-sizing: border-box

label, p
  color: #130b2c

.payment-header
  display: flex
  justify-content: space-between
  align-items: baseline

.payment-header, .payment-body
  padding: 0px 10px

.payment-body > p
  word-break: break-all

.amount
  color: #130b2c
  font-weight: bold
  font-size: 2em

button
  padding: 8px 10px
  border: 0
  color: #6937ff
  border-radius: 5px
  font-weight: bold
  background: transparent
  cursor: pointer

@media screen and ( max-width: 900px )
  .payment
    width: 95%
    margin: 0 auto