<div class="payment">
  <div class="payment-header">
    <span class="amount">{{ payment.amount | currency:'USD' }}</span>
    <label class="date">{{ payment.date }}</label>
  </div>

  <div class="payment-body">
    <p class="description">{{ payment.description }}</p>
  </div>

  <div class="payment-controls">
    <button
      (click)="delete(payment)">Delete
    </button>
    <button
      (click)="edit(payment.id)">edit
    </button>
  </div>

</div>