.wrap-payment
  width: 800px
  max-width: 100%
  height: 400px
  margin: 0 auto
  margin-top: 30px
  display: grid
  grid-auto-flow: column
  grid-gap: 10px
  grid-template-columns: 4fr 8fr

.wrapper-payments
  display: grid
  grid-gap: 10px
  margin-bottom: 40px

@media screen and ( max-width: 900px )
  .wrap-payment
    grid-auto-flow: row
    grid-template-columns: auto
    grid-template-rows: 12fr 12fr