<the-header
  [total]="total">
</the-header>

<div class="wrap-payment">

  <payment-form
    (addPayment)=addPayment($event)
    (calcTotal)=calcTotal()
    (editPayment)="editPayment($event)"></payment-form>

  <div class="wrapper-payments">
    <payment
      (deletePayment)="deletePayment($event)"
      (setPaymentToEdit)="setPaymentToEdit($event)"
      *ngFor="let payment of payments"
      [payment]="payment"></payment>
  </div>
</div>